body{
  background-color: rgb(26, 11, 116);
}

h1{
  color: rgb(223, 231, 175);
  font-size: 400%;
  text-align: center;
}

h2{
  text-align: left;
  font-size: 220%;
  color:rgb(213, 230, 76);
}

img {
    position: absolute;
    left: 58%;
    top: 25%;
    height: 70%;
    width: 43%;
}

h3,form,table{
  color:rgb(213, 230, 76);
}

a{
  color: rgb(200, 231, 242);
  font-size: 150%;
  text-align: center;
}

p{
  text-align: left;
  font-size: 200%;
  color: rgb(213, 230, 76);
  padding-left: 4%;

}
