h1{
  color: rgb(223, 231, 175);
  text-align: center;
  font-style: italic;
  font-size: 300%;
  font-style: unset;
}

h2{
  text-align: center;
  font-size: 1.7rem;
  color: rgb(242, 240, 17);
}

table{
  margin: auto;
  margin-top: -3%;
  border:solid black;
  background-repeat: no-repeat;
  background-color: rgb(185, 210, 180);
}

tr,td{
  border: 3px solid rgb(242, 234, 25);
  padding:7%;
  color:rgb(245, 244, 228);
}

td:hover{
  color: red;
}

body{
    background-color: #0d044a;
}
